#*表示通配多个字符
#忽略所有的.a文件
*.a
#否定忽略test1.a文件, 尽管前面已经忽略了所有的.a文件
!.test1.a
#忽略build文件夹
build/
#忽略所有文件夹下的.DS_Store
.DS_Store
*/.DS_Store

#忽略目录fd1下的全部内容, 不管是根目录下的 /fd1/目录, 还是某个子目录下的/child/fd1
fd1/*
#忽略跟目录下/fd1目录下的全部内容
/fd1/*

